@media (min-width: 1000px) {
  body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }

  #burger {
    display: none;
  }

  #list {
    display: flex;
    margin-top: 50px;
    position: relative;
    left: 0px;
  }

  header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .end-menu {
    display: block;
  }

  .end-menu i {
    font-size: 24px;
    margin: 10px;
    cursor: pointer;
  }

  .end-menu i:hover {
    color: dodgerblue;
  }

  .end-menu .btn-buy {
    padding: 15px;
    border-radius: 30px;
    background: none;
    color: rgb(12, 12, 12);
    border: 2px solid whitesmoke;
    cursor: pointer;
    width: 130px;
  }

  .end-menu .btn-buy:hover {
    border-color: darkblue;
    color: black;
  }

  /* Main menu  */

  .pesto-cat {
    width: 100%;
    display: flex;
  }

  .pesto-container {
    width: 100%;
    height: 330px;
    background-color: aliceblue;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pesto-container .home-sh {
    position: relative;
    right: 60px;
    top: 40px;
    color: rgb(142, 141, 141);
  }

  .pesto-container h1 {
    color: black;
    text-align: center;
    position: relative;
    left: 50px;
  }

  /* Contact menu */

  .contact-menus {
    width: 100%;
  }

  .iframe-menu {
    margin-top: 50px;
    width: 100%;
    text-align: center;
  }

  .iframe-menu iframe {
    width: 80%;
  }

  .important-contact-menu {
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }

  .second-important a {
    display: block;
    font-size: 18px;
    padding: 20px;
    position: relative;
    left: 200px;
    bottom: 130px;
  }

  .second-important i {
    color: blue;
  }

  .second-important {
    width: 100%;
    margin: 0px auto;
  }

  .foma-tr input {
    width: 600px;
    padding: 20px;
    margin-bottom: 10px;
    border: none;
    background-color: aliceblue;
  }

  .foma-tr textarea {
    width: 600px;
    border: none;
    background-color: aliceblue;
    padding: 20px;
  }

  ::placeholder {
    font-size: 15px;
  }

  .foma-tr button {
    display: block;
    margin: 20px 0px;
    padding: 10px;
    border: 1px solid rgb(24, 24, 214);
    background-color: rgb(24, 24, 214);
    color: white;
  }

  .foma-tr button:hover {
    background: none;
    border: 1px solid rgb(24, 24, 214);
    color: black;
  }

  /* Footer menu */

  footer {
    width: 100%;
    background-color: rgb(11, 11, 79);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    gap: 20px;
    font-size: 14px;
  }

  .our-mission {
    margin-left: 50px;
    line-height: 30px;
  }

  .our-mission h2 {
    color: white;
  }

  .quick-links a {
    display: block;
    color: whitesmoke;
  }

  .quick-links h2 {
    color: white;
  }

  .quick-links a:hover {
    color: dodgerblue;
  }

  .gallery {
    width: 200px;
  }

  .gallery h2 {
    color: white;
  }

  .gallery img {
    display: inline-block;
    margin: 10px;
  }

  .contact-menu h1 {
    color: white;
    line-height: 80px;
  }

  .contact a,
  h3,
  h4 {
    color: white;
  }

  .contact a,
  h3 {
    display: inline;
    color: white;
  }

  address {
    background-color: rgb(39, 39, 101);
    color: white;
    padding: 40px;
    text-align: center;
  }
}
